$gradient-colors: linear-gradient(90deg, aquamarine 0%, #7fffd4 25%, #40e0d0 50%, #00ced1 75%, aqua 100%);
$shine-effect: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 100%);

.gradient-text {
    background: $gradient-colors, $shine-effect;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3.5em;
    font-family: "Chakra Petch", sans-serif;
    margin: 0; // Adjust margins as needed
    position: relative;
    display: inline-block;

}


.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; // Centers the content vertically
    text-align: center;
    padding: 2vh;
    background-color: transparent;
    font-family: "Nanum Gothic Coding", monospace;
    margin-top: 15vh;
    margin-bottom: 15vh;
    height: auto; // Optional: Ensures the container takes up the full viewport height

}

.skills-container .content .skill-section {
    margin-top: 8vh;
}

.skills-container .content .skill-section h2 {
    color: white;
}

.skills {
    display: flex;
    justify-content: center;
}

.skills p{
    display: inline-block;
    margin: 0 0.5vw;
    color: white;
    background-color: grey;
    padding: 0.25vh 0.5vw;
    border-radius: 0.75vw;
    font-size: 1.25em;
}