<div class="skills-container" id="skills-section">
    <div class="content">
    <h1 class="gradient-text">My Skills</h1>
    <div class="skill-section">
        <h2> Machine Learning</h2>
        <div class="skills">
            <p>Skill1</p>
            <p>Skill2</p>
            <p>Skill3</p>
            <p>Skill4</p>
            <p>Skill5</p>
            <p>Skill6</p>
        </div>
    </div>
    <div class="skill-section">
        <h2> Web Development</h2>
        <div class="skills">
            <p>Skill1</p>
            <p>Skill2</p>
            <p>Skill3</p>
            <p>Skill4</p>
            <p>Skill5</p>
            <p>Skill6</p>
            <p>Skill7</p>
            <p>Skill8</p>
            <p>Skill9</p>
        </div>
    </div>
    <div class="skill-section">
        <h2> Data Structures and Algorithms</h2>
        <div class="skills">
            <p>Skill1</p>
            <p>Skill2</p>
            <p>Skill3</p>
            <p>Skill4</p>
            <p>Skill5</p>
        </div>
    </div>

    </div>
</div>
