<app-navbar></app-navbar>

<div class="home-container">
    <div class="content">
    <h1 class="gradient-text">Hi, I'm Kushagra.</h1>
    <p>I'm a student at Manipal Institute of Technology with a keen interest in Machine Learning and Artificial Intelligence. My journey in tech is driven by curiosity and a love for innovative solutions. Feel free to explore my projects, skills, and experiences to see what I've been up to in the world of AI.</p>
    </div>
    <div class="button-row">
        <button type="button" class="btn btn-outline-info" (click)="onHome">Resume <i class="fa-solid fa-download fa-lg" style="color: #00a3d7;"></i></button>
        <button type="button" class="btn btn-outline-info">My Work</button>
        <button type="button" class="btn btn-outline-info"><i class="fa-brands fa-linkedin-in fa-lg" style="color: #00a3d7;"></i></button>
        <button type="button" class="btn btn-outline-info"><i class="fa-brands fa-github fa-lg" style="color: #008cb4;"></i></button>
    </div>
</div>

<app-skills></app-skills>

<app-footer></app-footer>