<app-navbar></app-navbar>

<div class="home-container">
    <div class="content">
    <h1 class="gradient-text">Hey, I'm Jawad</h1>
    <p>A Computer Science student at University of Calgary passionate about building clean, useful, and fun digital experiences.</p>
    </div>
    <div class="button-row">
        <button type="button" class="btn btn-outline-info" (click)="onHome">Resume <i class="fa-solid fa-download fa-lg" style="color: #00a3d7;"></i></button>
        <button type="button" class="btn btn-outline-info">My Work</button>
        <button type="button" class="btn btn-outline-info"><i class="fa-brands fa-linkedin-in fa-lg" style="color: #00a3d7;"></i></button>
        <button type="button" class="btn btn-outline-info"><i class="fa-brands fa-github fa-lg" style="color: #008cb4;"></i></button>
    </div>
</div>

<app-skills></app-skills>

<app-footer></app-footer>